<div class="createcontainerinfo">
    <!-- Do not forget to change the path to the image -->
    <img src="/assets/01-azores-fishing.jpg" alt="image">

    <form   #createCatchForm = "ngForm"class="containertext"  (ngSubmit)="formHandler(createCatchForm)" >

        <h2>Create Catch</h2>
        <p>Add your fish of lifetime!</p>

        <label for="title">Species:</label>
        <input type="text" #themeSpecies ="ngModel" id="title" placeholder="Spring in the garden" name="species" value="" ngModel required minlength="5">

        <ng-container *ngIf="themeSpecies.touched && themeSpecies.invalid">
            <p *ngIf="themeSpecies.errors?.['required']" class="input-error">Species is required!</p>
            <p *ngIf="themeSpecies.errors?.['minlength']" class="input-error">Must be at least 4 characters long!</p>
        </ng-container>

        <label for="painting-tech">Bait:</label>
        <input type="text" #themeBait = "ngModel" id="painting-tech" placeholder="Oil paints" name="bait" value="" ngModel required minlength="5">

        <ng-container *ngIf="themeBait.touched && themeBait.invalid">
            <p *ngIf="themeBait.errors?.['required']" class="input-error">Species is required!</p>
            <p *ngIf="themeBait.errors?.['minlength']" class="input-error">Must be at least 4 characters long!</p>
        </ng-container>

        <label for="picture">Fish picture:</label>
        <input type="text" #themeImg = "ngModel" id="picture" placeholder="http://..." name="img" value="" ngModel pattern="(http:|https:)+[^\s]+[\w]" required minlength="5">

        <ng-container *ngIf="themeImg.touched && themeImg.invalid">
            <p *ngIf="themeImg.errors?.['required']" class="input-error">Img is required!</p>
            <p *ngIf="themeImg.errors?.['minlength']" class="input-error">Must be at least 10 characters long!</p>
            <p *ngIf="themeImg.errors?.['pattern']" class="input-error">Must begin with http:// or https://!</p>
        </ng-container>


        <label for="certificate">Story:</label>
        <textarea type="text" #themeStory="ngModel" id="certificate" rows="5" name="story" required ngModel></textarea>

        <ng-container *ngIf="themeStory.touched && themeStory.invalid">
            <p *ngIf="themeStory.errors?.['required']" class="input-error">Species is required!</p>
            <p *ngIf="themeStory.errors?.['minlength']" class="input-error">Must be at least 4 characters long!</p>
        </ng-container>


        <label for="weight">Weight of the fish:</label>
        <input type="text" id="weight" placeholder="Yes" name="weight" value="">
        <ng-container *ngIf="themeStory.touched && themeStory.invalid">
            <p *ngIf="themeStory.errors?.['required']" class="input-error">Species is required!</p>
            <p *ngIf="themeStory.errors?.['minlength']" class="input-error">Must be at least 4 characters long!</p>
        </ng-container>
       
        <button [disabled]="createCatchForm.invalid"class="create-btn">Create</button>


    </form>

</div>
