<div class="createcontainerinfo">
    <!-- Do not forget to change the path to the image -->
    <img src="/assets/01-azores-fishing.jpg" alt="image">

    <form  method="POST" class="containertext"  (ngSubmit)="formHandler()" >

        <h2>Create Publication</h2>
        <p>Add your fish of lifetime!</p>

        <label for="title">Species:</label>
        <input type="text" id="title" placeholder="Spring in the garden" name="species" value="">

        <label for="painting-tech">Painting technique:</label>
        <input type="text" id="painting-tech" placeholder="Oil paints" name="paintTech" value="">

        <label for="picture">Fish picture:</label>
        <input type="text" id="picture" placeholder="http://..." name="artImg" value="">

        <label for="certificate">Certificate of authenticity:</label>
        <input type="text" id="certificate" placeholder="Yes" name="certificate" value="">

    <label for="certificate">Certificate of authenticity:</label>
        <input type="text" id="certificate" placeholder="Yes" name="certificate" value="">
        <button class="create-btn">Create</button>

    </form>

</div>
