<footer>
  
    <div class="description">
        <p>Spinning is one of the most widespread and popular techniques around the world that can be done in both saltwater and freshwater.</p>
    </div>
    <nav><ul>
        <li><i class="fab fa-facebook"></i><a href="https://www.facebook.com/groups/262191725221158">Feedback</a>
        </li>
        <li><i class="fab fa-twitter"></i>
        </li>
        <li><i class="fab fa-instagram"></i>
        </li>
    </ul></nav>
    <ul>
    <li><a routerLink="/about">About</a></li>
    <li><a href="">Contacts</a></li>
    <li><a href="https://www.facebook.com/groups/262191725221158">Feedback</a></li>
</ul>
</footer>